* {
    margin: 0;
    padding: 0;
    font-family: Courier;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

#container {
    background-color: rgb(231, 254, 255);
    width: 100%;
    min-height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    padding: 5mm;
}

.temas{
    width: calc(100% - 100px);
    max-width: 800px;
    border: 1px solid #999;
    border-radius: 10mm;
    padding: 5mm;
}

h2, p{
    padding-bottom: 5mm;
}

.botoes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #999;
    padding: 2mm;
    border-radius: 5mm;
}

a{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 2mm;
    margin: 1mm;
    border: 1px solid #999;
    border-radius: 2mm;
    text-decoration: none;
    color: black;
}
