* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

#container,
#container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10mm;
    margin-top: 10mm;
}

.card {
    width: 300px;
    padding: 3mm;
    border-radius: 5mm;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-shadow: 0px -1px 37px 6px rgba(0, 0, 0, 0.56);
    box-shadow: 0px -1px 37px 6px rgba(0, 0, 0, 0.56);
}

.row {
    display: flex;
}

.img {
    margin-bottom: 2mm;
    width: 300px;
    height: 200px;
    border-radius: 2mm;
}

.avatar {
    width: 20mm;
    height: 20mm;
    border-radius: 50%;
    border: 1px solid #999;
}

.row {
    display: flex;
}

p {
    width: calc(300px - 20mm);
    padding-left: 2mm;
}

#btn,
.btn {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 2mm;
    transition: background-color 1s, border-radius 1s, box-shadow 1s;
}

#btn:hover,
.btn:hover {
    border-radius: 10mm;
    background-color: blueviolet;
    -webkit-box-shadow: 0px 0px 39px 6px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 39px 6px rgba(0, 0, 0, 0.45);
}