* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 5px;
    padding-inline-end: 20px;
    background: blueviolet;
    background: linear-gradient(90deg, white, blueviolet);
    -webkit-box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 25), 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 25), 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

nav {
    display: flex;
    gap: 20px
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 10px;
}

nav a:hover {
    outline: 1px solid white;
    border-radius: 10px;
}

/* #region MAIN */

.main{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    padding-inline: 50px
}

.title{
    text-align: center;
    font-size: 36px;
    width: 100%;
}

.left{
    font-size: 24px;
    width: calc(30% - 55px);
}
.right{
    font-size: 16px;
    width: calc(70% - 55px);
}

p{
    text-align: justify;
}

/* #endregion */

/* #region CARD */

.card{
    width: 300px;
    height: 400px;
    background-image: url(https://lh3.googleusercontent.com/proxy/pxBcQHD9y5cMApfsFPYLJ5qxzQI47POEr2RDGJcQ9PtJSP5jt3sAd5SXLJGCHGvqwS-frVtYr2vObTD9WqCVSKKwKK7scrUq8eYpuCBY8SpSCc_E1xRdv9N1NAJgTTAddINUFT3LEEDY6nsZqDOH629D);
    background-size: cover;
    border-radius: 20px;
}

.containerCards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* #endregion */

/* #region FOOTER */
.footer{
    width: 100%;
    height: 300px;
    background-color: #444;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #endregion */