:root {
    --gap-4: 4px;
    --gap-8: 8px;
    --gap-16: 16px;
    --gap-32: 32px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    gap: var(--gap-16);
    flex-wrap: wrap;
}

.component-container {
    border: 1px solid red;
    gap: var(--gap-8);
    padding: var(--gap-8);
    border-radius: var(--gap-16);
}

.component-container-flex {
    display: flex;
    flex-wrap: wrap;
}

/* #region Fading squares - 200*/

.fading-squares {
    display: grid;
    grid-template-columns: repeat(20, 40px);
    grid-template-rows: repeat(10, 40px);
}

.sqr1 {
    width: 40px;
    height: 40px;
    border-radius: var(--gap-8);
    background-color: rgb(181, 178, 255);
    transition: background-color 3s;
}

.sqr1:hover {
    background-color: red;
    transition: background-color 0s;
}

/* #endregion */

/* #region Buttons*/

.btn-radius {
    padding: var(--gap-8);
    padding-inline: var(--gap-16);
    background-color: rgb(74, 147, 210);
    color: white;
    font-weight: 800;
    font-size: 16px;
    border: 0;
    transition: border-radius 1s;
}

.btn-radius:hover {
    border-radius: 32px;
}

.btn-scale {
    padding: var(--gap-8);
    padding-inline: var(--gap-16);
    border-radius: var(--gap-8);
    background-color: rgb(210, 74, 190);
    outline: 0;
    border: 0;
    color: white;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s;
}

.btn-scale:hover {
    transform: scale(1.2);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
}

.btn-skew {
    display: flex;
    flex-grow: 1;
    border-radius: var(--gap-8);
    padding: var(--gap-16);
    outline: 2px solid black;
    color: black;
    position: relative;
    overflow: hidden;
    transition: color 1s;
}

.btn-skew:hover {
    color: white;
}

.btn-skew::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: black;
    transform: skewX(25deg);
    z-index: -1;
    transition: width 1s;
}

.btn-skew:hover::before {
    width: 200px;
}

/* #endregion */

/* #region */

/* #endregion */