/* #region DEFAULT */
:root {
    --gap-4: 4px;
    --gap-8: 8px;
    --gap-16: 16px;
    --gap-32: 32px;
    --gray-3: #333;
    --gray-6: #666;
    --gray-9: #999;
    --gray-c: #ccc;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    gap: var(--gap-16);
    flex-wrap: wrap;
}

.component-container {
    border: 1px solid red;
    gap: var(--gap-8);
    padding: var(--gap-16);
    border-radius: var(--gap-16);
}

.component-container-flex {
    display: flex;
    flex-wrap: wrap;
}

/* #endregion */

/* #region Fading squares - 200*/

.fading-squares {
    display: grid;
    grid-template-columns: repeat(20, 40px);
    grid-template-rows: repeat(10, 40px);
}

.sqr1 {
    width: 40px;
    height: 40px;
    border-radius: var(--gap-8);
    background-color: rgb(181, 178, 255);
    transition: background-color 3s;
}

.sqr1:hover {
    background-color: red;
    transition: background-color 0s;
}

/* #endregion */

/* #region BUTTONS*/

[class^='btn']{
    padding: 10px;
    border-radius: 10px;
    background-color: #333;
    color: white;
    border: 1px solid #666;
}

[class^='btn']:hover{
    background-color: var(--gray-9);
    border: 1px solid var(--gray-c);
    color: black;
}

.btn-radius {
    border-radius: 0;
    transition: border-radius 1s;
}

.btn-radius:hover {
    border-radius: 32px;
}

.btn-scale {
    transition: transform 0.5s ease-in-out, box-shadow 0.5s;
}

.btn-scale:hover {
    transform: scale(1.2);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
}

.bt-skew {
    display: flex;
    flex-grow: 1;
    border-radius: var(--gap-8);
    padding: var(--gap-16);
    outline: 2px solid black;
    color: black;
    position: relative;
    overflow: hidden;
    transition: color 1s;
}

.bt-skew:hover {
    color: white;
}

.bt-skew::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: black;
    transform: skewX(25deg);
    z-index: -1;
    transition: width 1s;
}

.bt-skew:hover::before {
    width: 200px;
}

.btn-translate, .btn-rotate, .btn-rotate2{
    transition: transform 1s ease-in-out, 
                background-color 1s,
                border 1s, 
                color 1s;
}

.btn-translate:hover{
    transform: translateY(-20px);
}

.btn-rotate2{
    padding: 0;
    padding-block: 0;   
}

.btn-rotate:hover, .btn-rotate2:hover{
    backface-visibility: hidden;
    transform: rotate(360deg);
}

.bt-text {
    color: white;
    background-color: rgba(51, 51, 51, 0);
    border: 0;
    transition: transform 1s ease-in-out;
}
.bt-text:hover{
    transform: rotate(-360deg);
}

/* #endregion */

/* #region MENUS*/

/* spin */
.spin-container {
    display: block;
    width: 300px;
    height: 220px;
    border: 1px solid #999;
    border-radius: var(--gap-8);
    padding: 10px;
}

.spinner {
    width: 200px;
    height: 50px;
    position: absolute;
    border: 1px solid #999;
    transform-origin: 87.5% 50%;
    background-color: #337033;
    color: white;
    border: 1px solid white;
    border-radius: var(--gap-4) 25px 25px var(--gap-4);
    display: flex;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0.5s, text-weight 0.5s;
}

.spinner:hover {
    background-color: #5eaf5e;
}

/* roleta */

.roleta {
    padding: 10px;
    width: 600px;
    height: 400px;
    border: 1px solid #999;
    border-radius: var(--gap-8);
    display: grid;
    justify-content: center;
    grid-template-columns: 150px 230px 150px;
    grid-template-rows: 150px 230px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 20px;
}
/* .roleta:hover{
    cursor: none;
} */

.roleta *{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--gap-8);
    box-sizing: content-box;
}

.roleta a{
    padding: 15px;
    padding-inline: 30px;
}

.roleta:nth-child(0) {
    grid-area: 1 / 2 / 2 / 3;
}

.roleta:nth-child(1) {
    grid-area: 2 / 1 / 3 / 2;
}

.roda {
    background-color: #337033;
    border-radius: 50%;
    border-top-right-radius: 0;
    grid-area: 2 / 2 / 3 / 3;
    transform-origin: center center;
    margin: 25px;
}

.roleta:nth-child(3) {
    grid-area: 2 / 3 / 3 / 4;
}

.roda-pointer{
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: rgb(139, 37, 207);
    border-radius: 0;
    border-bottom-left-radius: 100%;
}


/* #endregion */


/* #region */

.panelParalax{
    width: 400px;
    height: 400px;
    padding: 10px;
}

.panelParalax *{
    border-radius: var(--gap-8);
    position: absolute;
}

.dpx0{
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: #994545;
}

.dpx1{
    width: 300px;
    height: 300px;
    background-color: #c56868;
}

.dpx2{
    width: 250px;
    height: 250px;
    background-color: #ef9191;
}

.dpx3{
    width: 200px;
    height: 200px;
    background-color: #ffc1c1;
}

/* #endregion */